$base-color: #fb4746;

@font-face {
  font-family: 'yofont';
  src: url('/images/fonts/iconfont.eot');
  src: url('/images/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/images/fonts/iconfont.woff') format('woff'),
  url('/images/fonts/iconfont.ttf') format('truetype'),
  url('/images/fonts/iconfont.svg#iconfont') format('svg');
}


@font-face {
  font-family: 'yofont';
  src: url('/images/fonts2/iconfont.eot');
  src: url('/images/fonts2/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/images/fonts2/iconfont.woff') format('woff'),
  url('/images/fonts2/iconfont.ttf') format('truetype'),
  url('/images/fonts2/iconfont.svg#iconfont') format('svg');
}