@charset "UTF-8";
@import "./common";
// @import "../libs/swiper.scss";


#app{
  height:100%;
  .m-index {
  @include flexbox();
  @include flex-direction(column);
  height: 100%;
  .container{
    @include flex();
    @include flexbox();
    @include flex-direction(column);
    width: 100%;
    header {
      height: .44rem;
      background: $base-color;
      ul {
        @include flexbox();
        height: 100%;
        li:first-child,
        li:last-child {
          width: .44rem;
          height: 100%;
          line-height: .44rem;
          text-align: center;
          font-size: .18rem;
          color: rgba(255, 255, 255, 0.6);
        }
        li:nth-child(2) {
          @include flex();
          @include flexbox();
          @include justify-content();
          @include align-items();
          span {
            display: inline-block;
            width: .59rem;
            height: .44rem;
            text-align: center;
            line-height: .44rem;
            font-size: .18rem;
            color: rgba(255, 255, 255, 0.9);
          }
        }
      }
    }
    aside {
      ol{
        li {
          width: 100%;
          i {
            display: block;
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    figure{
      width:100%;
      background-color:#fff;
      ul {
        @include flexbox();
        @include border(0 0 1px 0, #CED6D0);
        padding-top:.08rem;
        li {
          @include flex();
          /* @include justify-content(); */
          b, i {
            display: block;
            text-align: center;
            color: #565656;
          }
          b {
            font-size: .12rem;
            line-height: .24rem;
          }
          i {
            width:.36rem;
            img{
              width:100%;
              transform:translateX(56%);
              //left:50%;
            }
          }
        }
      }
    }     
    nav {
      height: .35rem;
      background: #fff;
      @include border(0 0 1px 0, #d9d9d9);
      ul {
        @include flexbox();
        li {
          @include flex();
          text-align: center;
          line-height: .35rem;
          height: .35rem;
          color: #757575;
          &.active {
            border-bottom: 2px solid $base-color;
            color: $base-color;
          }
        }
      }
    }

    
    section {
      @include flex();
      overflow-y: scroll;
      width: 100%;
      height:100%;
      #index-swiper {
        height: 100%;
        #indexContainer{
          height: 100%;
        }
      }
      .scroll-container {
        padding-bottom: 0.8rem;
      }
      .head {
        text-align: center;
        height: .35rem;
        line-height: .35rem;
      }
      .head img {
        width: .14rem;
        height: .14rem;
        display: inline-block;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transition: transform 150ms;
        -webkit-transition: transform 150ms;
      }
      .head.hide {
        display: none;
      }
      .up {
        transform: rotate(360deg) !important;
        -webkit-transform: rotate(360deg) !important;
      }
      .foot {
        text-align: center;
        height: .35rem;
        line-height: .35rem;
      }
      .foot img {
        width: .14rem;
        height: .14rem;
        display: inline-block;
        /*transform: rotate(0deg);*/
        /*-webkit-transform: rotate(0deg);*/
        transition: transform 150ms;
        -webkit-transition: transform 150ms;
      }
      .foot.hide {
        display: none;
      }
      .down {
        transform: rotate(180deg) !important;
        -webkit-transform: rotate(180deg) !important;
      }

      ul {
        @include flexbox();
        @include flex-wrap(wrap);
        padding-right: .05rem;
        li {
          width: 50%;
          padding-left: .05rem;
          padding-top: .05rem;
          i, b {
            display: block;
          }
          i {
            width: 100%;
            img {
              width: 100%;
            }
          }
          b {
            @include ellipsis(null, 2);
            font-weight: normal;
          }
        }
      }
    }
  }
  footer {
    height: .44rem;
    background: #fff;
    ul {
      @include flexbox();
      @include border(1px 0 0 0, #CED6D0);
      li {
        @include flex();
        &.active b,
        &.active i {
          color: $base-color;
        }
        b, i {
          display: block;
          text-align: center;
          color: #d6d6d6;
        }
        b {
          font-size: .12rem;
          line-height: .14rem;
        }
        i {
          font-size: .28rem;
          height: .3rem;
          line-height: .3rem;
        }
      }
    }
  }
  > * {
    width: 100%;
  }
}
}

