
#mine {
	width:100%;
	@include flexbox();
	@include flex();
	@include flex-direction(column);
	header {
	  height: .44rem;
	  background: $base-color;
	  ul {
	    @include flexbox();
	    height: 100%;
	    li:first-child,
	    li:last-child {
	      width: .44rem;
	      height: 100%;
	      line-height: .44rem;
	      text-align: center;
	      font-size: .18rem;
	      color: rgba(255, 255, 255, 0.9);
	    }
	    li:nth-child(2) {
	      @include flex();
	      @include flexbox();
	      @include justify-content();
	      @include align-items();
	      span {
	        display: inline-block;
	        width: .59rem;
	        height: .44rem;
	        text-align: center;
	        line-height: .44rem;
	        font-size: .18rem;
	        color: rgba(255, 255, 255, 0.9);
	      }
	    }
	  }
	}

  section{
  	width:100% !important;
    overflow: hidden;
    overflow-y: scroll;
  	@include flex();
   	margin-top:.07rem;
   	padding: 0 .04rem;
  	background-color:rgba(238,238,238,0.9);
  	ul{
  		width:100%;
  		li{
  			height:0.56rem;
  			line-height:0.56rem;
  			background-color:rgba(255,255,255,0.9);
      		@include border(0 0 2px 0, #eee);
   			@include flexbox();
   			b{
   				@include flex();
   				line-height:.56rem;
   				font-size:.15rem;
  				padding-left: .18rem;  				 
   				color:	rgba(93,93,93,1);			
   			}
   			i{
   				width:.56rem;
   				line-height:.56rem;
   				font-size:.18rem; 
   				color:	rgba(93,93,93,1); 
   			}
  
   			ol{
   				width:100%;
   				@include flexbox();
  				li{
   					@include flex();
            @include justify-content();
            @include align-items();
            em,strong{
              display: block;
              text-align: center;
              color: #d6d6d6;
            }
  					em{
  						font-size:.19rem;
              line-height: .36rem;				
  					}
  					strong{
  						font-size:.15rem;
              height:.2rem;
              line-height: .2rem;        
  						color:	rgba(119,119,119,1);
  					}
  				}
  			}
  		}
  		li:last-child{
   			@include flex();
  		}
  		.space{
  			height:.19rem;
  			width:100%;
  		}
  		
	  	}
	  }
}
